{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/no-unresolved": [2, { "ignore": [".scss$", ".svg$"] }]
  }
}
